@import url();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(88, 3, 86);
    color: aqua;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gamecontainer {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vh;
    width: 60vh;
    background-image: url(../img/img-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(3, 20vh);
    grid-template-rows: repeat(3, 20vh);
}

.box{
    border: 1vh solid white;
    cursor: pointer;
    color: black;
    font-size: 5vh;
}

.box:hover{
    background-color: rgb(182, 126, 235);
}

.gameinfo{
    display: none;
    background-image: url(../img/img-3.jpg);
    background-position: center;
    background-size: cover;
}

button{
    display: none;
    background-color: pink;
    height: 10vh;
    width: 20vw;
    font-family: cursive;
    border-radius: 2rem;
    border: none;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

button:hover{
    background-color: rgb(247, 221, 226);
}
.winner{
    font-family: cursive;
    font-size: 2rem; 
}
